<div class="row">
    <div class="col-md-5">
      <coin-input post-select='vm.postSelect' type="deposit" selected-coin="BTC" show-withdraw-address="{{showWithdrawAddress}}">
      </coin-input>
    </div>
    <div class="col-md-2">

    </div>
    <div class="col-md-5">
      <coin-input  post-select='vm.postSelect' type="receive" selected-coin="ETH" show-withdraw-address="{{showWithdrawAddress}}">
      </coin-input>
    </div>
    <div class="col-md-5 col-md-offset-7">
        <address></address>
    </div>

    <div class="col-md-10 text-center">
      <button class="btn btn-primary btn-lg" ng-click="showWithdrawAddress=true">get-started</button>
    </div>
</div>

